/* main stuff */
html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 20px;
    background-color: rgb(157, 206, 207);
}
  
body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

/* header */

.header {
    color: rgb(238, 151, 113);
    background-color: rgb(58, 88, 187);
}

/* images */
  
.intro img {
    max-width: 200px;
    height: 200px;
}

.header img {
    max-width: 100px;
    height: 100px;
}